# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: cross platform build

on:
  push:
    branches: [ "build-test" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            ort_dir: third_party/onnxruntime-linux-x64-1.18.1
            rpath: $ORIGIN
          - os: macos-latest
            ort_dir: third_party/onnxruntime-osx-arm64-1.18.1
            rpath: "@executable_path"
            dyld_path: true  # flag to enable DYLD_LIBRARY_PATH
          - os: windows-latest
            ort_dir: third_party/onnxruntime-win-x64-1.18.1
            rpath: ""  # no rpath needed on Windows
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.5'
    - name: Set up node
      uses: actions/setup-node@v6
      with:
        node-version: '22.14.0'
    - name: Set up wails
      run: go install github.com/wailsapp/wails/v2/cmd/wails@latest
    - name: Linux Discovery
      if: runner.os == 'Linux'
      run: |
        sudo apt-get -yq update
        DISTRO=$(lsb_release -rs) # Get the distribution version (e.g., "22.04", "24.04")
        if [[ "$DISTRO" == "20.04" ]]; then
          sudo apt-get -yq install libgtk-3-0 libwebkit2gtk-4.0-dev gcc-aarch64-linux-gnu
        elif [[ "$DISTRO" == "22.04" ]]; then
          sudo apt-get -yq install libgtk-3-0 libwebkit2gtk-4.0-dev gcc-aarch64-linux-gnu
        elif [[ "$DISTRO" == "24.04" ]]; then
          sudo apt-get -yq install libgtk-3-0 libwebkit2gtk-4.1-dev gcc-aarch64-linux-gnu
        else
          echo "Unsupported Linux distribution: $DISTRO"
          exit 1 # Fail the workflow if the distribution is not supported
        fi
        echo "DISTRO=$DISTRO" >> "$GITHUB_OUTPUT"
      shell: bash
    - name: Set platform-specific library paths
      shell: bash
      run: |
        if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
          echo "LD_LIBRARY_PATH=${{ github.workspace }}/${{ matrix.ort_dir }}/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
        elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
          echo "DYLD_LIBRARY_PATH=${{ github.workspace }}/${{ matrix.ort_dir }}/lib:$DYLD_LIBRARY_PATH" >> $GITHUB_ENV
        elif [[ "${{ matrix.os }}" == "windows-latest" ]]; then
          echo "PATH=${{ github.workspace }}/${{ matrix.ort_dir }}/lib:$PATH" >> $GITHUB_ENV
          echo "PATH=/c/mingw64/bin:$PATH" >> $GITHUB_ENV
          [ -d "C:/mingw64/bin" ] && ls -la C:/mingw64/bin || echo "mingw dir does not exist"
        fi
    - name: Print environment variables
      shell: bash
      run: env
    - name: Verify gcc
      if: runner.os == 'Windows'
      shell: bash
      run: gcc --version
    - name: Build
      shell: bash
      run: env;wails build -tags webkit2_41
      env:
        CGO_ENABLED: 1
        CGO_CFLAGS: -I${{ github.workspace }}/${{ matrix.ort_dir }}/include
        CGO_LDFLAGS: -L${{ github.workspace }}/${{ matrix.ort_dir }}/lib -lonnxruntime ${{ matrix.rpath != '' && format('-Wl,-rpath,{0}', matrix.rpath) || '' }}
    - name: Archive build
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.os }}
        path: build/bin

