# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: cross platform build

on:
  push:
    branches: [ "build-test" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            ort_dir: third_party/onnxruntime-linux-x64-1.18.1
            rpath: $ORIGIN
          - os: macos-latest
            ort_dir: third_party/onnxruntime-osx-arm64-1.18.1
            rpath: "@executable_path"
            dyld_path: true  # flag to enable DYLD_LIBRARY_PATH
          - os: windows-latest
            ort_dir: third_party/onnxruntime-win-x64-1.18.1
            rpath: ""  # no rpath needed on Windows
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.5'
    - name: Set up node
      uses: actions/setup-node@v6
      with:
        node-version: '22.14.0'
    - name: Set up wails
      run: go install github.com/wailsapp/wails/v2/cmd/wails@latest
    - name: build
      run: env;wails build
      env:
        CGO_ENABLED: 1
        CGO_CFLAGS: -I${{ github.workspace }}/${{ matrix.ort_dir }}/include
        CGO_LDFLAGS: -L${{ github.workspace }}/${{ matrix.ort_dir }}/lib -lonnxruntime ${{ matrix.rpath != '' && format('-Wl,-rpath,{0}', matrix.rpath) || '' }}
        DYLD_LIBRARY_PATH: ${{ matrix.dyld_path == true && format('{0}/{1}/lib', github.workspace, matrix.ort_dir) || '' }}
    - name: Archive build
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.os }}
        path: build/bin
