# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: cross platform build

on:
  push:
    branches: [ "build-test" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: 'App'
            platform:  'linux/amd64'
            os: 'ubuntu-latest'
            ort_dir: third_party/onnxruntime-linux-x64-1.18.1
            rpath: $ORIGIN
          - name: 'App'
            platform:  'windows/amd64'
            os: 'windows-latest'
            ort_dir: third_party/onnxruntime-win-x64-1.18.1
            rpath: ""  # no rpath needed on Windows
          - name: 'App'
            platform:  'darwin/universal'
            os: 'macos-latest'
            ort_dir: third_party/onnxruntime-osx-arm64-1.18.1
            rpath: "@executable_path"
            dyld_path: true  # flag to enable DYLD_LIBRARY_PATH
    steps:
    - uses: actions/checkout@v4
    - name: Set platform-specific library paths
      shell: bash
      run: |
        if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
          echo "LD_LIBRARY_PATH=${{ github.workspace }}/${{ matrix.ort_dir }}/lib:$LD_LIBRARY_PATH" >> $GITHUB_ENV
        elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
          echo "DYLD_LIBRARY_PATH=${{ github.workspace }}/${{ matrix.ort_dir }}/lib:$DYLD_LIBRARY_PATH" >> $GITHUB_ENV
        elif [[ "${{ matrix.os }}" == "windows-latest" ]]; then
          echo "PATH=${{ github.workspace }}/${{ matrix.ort_dir }}/lib:$PATH" >> $GITHUB_ENV
        fi
        echo "CGO_ENABLED=1" >> $GITHUB_ENV
        echo "CGO_CFLAGS=-I${{ github.workspace }}/${{ matrix.ort_dir }}/include" >> $GITHUB_ENV
        echo "CGO_LDFLAGS=-L${{ github.workspace }}/${{ matrix.ort_dir }}/lib -lonnxruntime ${{ matrix.rpath != '' && format('-Wl,-rpath,{0}', matrix.rpath) || '' }}" >> $GITHUB_ENV
    - name: Build wails
      uses: dAppServer/wails-build-action@v2.2
      id: build
      with:
        build-name: ${{ matrix.name }}
        build-platform: ${{ matrix.platform }}
        package: true
        go-version: '1.25.5'
