# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: cross platform build

on:
  push:
    branches: [ "build-test" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            cgo_cflags: -I${{ github.workspace }}/third_party/onnxruntime-linux-x64-1.18.1/include"  # adjust path if different
            cgo_ldflags: -L${{ github.workspace }}/third_party/onnxruntime-linux-x64-1.18.1/lib -lonnxruntime -Wl,-rpath,$ORIGIN"
            dyld_path: ""  # not used on Linux

          - os: macos-latest
            cgo_cflags: -I${{ github.workspace }}/third_party/onnxruntime-osx-arm64-1.18.1/include
            cgo_ldflags: -L${{ github.workspace }}/third_party/onnxruntime-osx-arm64-1.18.1/lib -lonnxruntime -Wl,-rpath,@executable_path
            dyld_path: ${{ github.workspace }}/third_party/onnxruntime-osx-arm64-1.18.1/lib

          - os: windows-latest
            cgo_cflags: -I${{ github.workspace }}/third_party/onnxruntime-win-x64-1.18.1/include"
            cgo_ldflags: -L${{ github.workspace }}/third_party/onnxruntime-win-x64-1.18.1/lib -lonnxruntime"
            dyld_path: ""  # not used
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.5'
    - name: Set up node
      uses: actions/setup-node@v6
      with:
        node-version: '22.14.0'
    - name: Set up wails
      run: go install github.com/wailsapp/wails/v2/cmd/wails@latest
    - name: build
      run: env;wails build
      env:
        CGO_ENABLED: 1
        CGO_CFLAGS:   ${{ matrix.cgo_cflags }}
        CGO_LDFLAGS:  ${{ matrix.cgo_ldflags }}
        DYLD_LIBRARY_PATH: ${{ matrix.dyld_path }}  # only affects macOS
    - name: Archive build
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.os }}
        path: build/bin
