# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: macos build

on:
  push:
    branches: [ "build-test" ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.5'
    - name: Set up node
      uses: actions/setup-node@v6
      with:
        node-version: '22.14.0'
